html
	head
		title Jar of Ideas -- Supercool website 
		include ../statics/pug/head-links.pug
	body
		include ../statics/pug/header.pug
		#clickMe
			p.getAWord Click me to get a word: 
			img.thisSmallPhoto(src="img/jar-of-ideas.jpg")
		each post in jarofideas
			.JOIbox
				h1 #{post.title}
				img.thisJOIPhoto(src="img/"+post.img+".jpg")
				p #{post.body}
		include ../statics/pug/footer.pug

	script.
		$('.thisSmallPhoto').click(function(){
			$.get('/getyourword', (word)=>{
				alert('Yes! Get started with your own word! You got: \n'+word.word)
			})
		})