//- p.banner Supercool name
.navbar
	ul
		li#bannerli Supercool name
		li
			a(href="/") Home
		li
			a(href="/jar-of-ideas") Jar of Ideas
		li
			a(href="/free-patterns") Free Patterns
		li
			a(href="/webshop") Webshop
